{# templates/user/notifications.html.twig #}
<h1>Hello {{ user_first_name }}!</h1>
<p>You have {{ notifications.length }} new notifications.</p>

<label for="text-input"></label><input type="text" id="text-input">
{{ form_widget(form.add_text) }}
<p id="text-container"></p>
Zawartosc bazy danych:
<p>{{ data }}</p>

<script>
    function addText() {
        const text = document.getElementById('text-input').value;
        document.getElementById('text-container').innerHTML += text;
    }
</script>
