{# templates/user/notifications.html.twig #}
<h1>Hello {{ user_first_name }}!</h1>
<p>You have {{ notifications[2] }} new notifications.</p>
<img src="{{ asset('images/pobrane.png') }}" alt="Symfony!"/>